/*Gráfica*/
.ct-chart {
        width: 750px;
        color: white;
        background-color: transparent;
        height: 300px;
        
    }

    .ct-series-a .ct-line {
        stroke: rgb(255, 187, 0);

    }

    .ct-horizontal {
        color: #89898A;
        font-family: Avenir;
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 0;
        line-height: 22px;
        height: 19px;
        width: 10px;
    }
    .ct-vertical  {
       margin: 0px;
       visibility: hidden;
    }
    .img-linea{
      width: 10px;
      height: 75%;
      position: relative;
      top: 33px;
      left: 16%;
    }
    .img-oval{
      position: relative;
      top: -73px;
      left: 133px;
      z-index: 100;
    }

/*Computadora*/

.texto{
  height: 25px;
  width: 51px;
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  position: relative;
  top:45px;
  left: -400px;
}

.espa{
	padding-top: 7%;
}
.img{
	position: relative;
  padding-top: 15%;
  left: 20%;
}
.img:hover{
  -webkit-animation: movimiento 0.4s infinite;
}
@-webkit-keyframes movimiento{
  0%  { -webkit-transform:rotateZ(-3deg); }
  50% { -webkit-transform:rotateZ( 0deg) scale(.9); }
  100%{ -webkit-transform:rotateZ( 25deg); }
}

.na{
	height: 75px;
  width: 250px;
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 18px;
  font-weight: 900;
  line-height: 26px;
}
.na2{
  height: 75px;
  width: 250px;
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 25px;
}

.create{
  padding-top: 20%;
  height: 24px;
  width: 88px;
  color: #FFBE00;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 21px;
  text-align: right;
  position: relative;
  left: -258%;
}
.princi{
	text-decoration: underline;
  height: 75px;
  width: 150px;
  color: #FFBE00;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 25px;
}
.princi2{
  text-decoration: underline;
  border: 25px;
  color: #FFBE00;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
  height: 75px;
  width: 50px; 
}
.img-atras{
  color: #ffffff;
  font-size: 40px;
  padding-top: 12%;
  position: relative;
  left: 28%;
}
.mostrar{
  visibility: hidden;
}
.numeros{
  height: 25px;
  width: 250px;
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  position: relative;
  top: -40px;
}
.complemento-num{
  height: 19px;
  width: 100px;
  color: #C1C7D0;
  font-family: Avenir;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
  position: relative;
  top: -45px;
  left: 30%;
}
.espacio-numero{
  position: relative;
  left: 28%;
}
.dic{
  position: absolute;
  left: 18%;
  border-color: #000000 !important;
}
.dic2{
  position: absolute;
  left: 10%;
  border-color: #000000 !important;
  padding-top: 3%;
}
.texto-simple{
  padding-top: 5%;
  height: 19px;
  width: 110px;
  color: #C1C7D0;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 19px;
  position: relative;
  right: 130%;
}
.upcoming-tasks {
  height: 17px;
  width: 110px;
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 26px;
}
.boton-des{
  color: #ffffff;
  height: 35px;
  width: 115px;
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  left: 162%;
  top: 35px;
}
.espacio-card{
  position: relative;
  left: 2%;
}
.espacio-card2{
  position: relative;
  left: 12%;
}
.espacio-card3{
    padding-left: 20%;
    position: relative;
    left: -21%;
  }
  .espacio-card4{
    position: relative;
    left: 20%; 
  }
  .statistics {
  height: 24px;
  width: 69px;
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 26px;
}
.card-tipo{
  height: 175px;
  width: 475px;
  border-radius: 8px;
  background-color: #10161C;
  box-shadow: inset -2px -2px 4px 0 #040B11, inset 2px 2px 4px 0 #1C232A, 0 13px 9px 0 #000000;
}
.card-tipo2{
  height: 125px;
  width: 375px;
  border-radius: 8px;
  background-color: #10161C;
  box-shadow: inset -2px -2px 4px 0 #040B11, inset 2px 2px 4px 0 #1C232A, 0 13px 9px 0 #000000;
  position: relative;
  top: 25px;
}
.card-tipo3{
  height: 600px;
  width: 1024px;
  border-radius: 8px;
  background-color: #10161C;
  box-shadow: inset -2px -2px 4px 0 #040B11, inset 2px 2px 4px 0 #1C232A, 0 13px 9px 0 #000000;
  position: relative;
  left: 120px;
  top: 45px;
  }
.titulo-card{
  height: 20px;
  width: 119px;
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 26px;
}
.remitente-card{
  height: 19px;
  width: 550px;
  color: #C1C7D0;
  font-family: Avenir;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 16px;
}
.foot{
  text-align: right;
  padding-right: 15px;
  position: relative;
  top: -15%;
}
.barra-progreso{
  height: 10px;
  width: 96px;
  color: #C1C7D0;
  font-family: Avenir;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 16px;
}
.dato-barra{
  top: -18%;
  height: 14px;
  width: 150px;
  color: #C1C7D0;
  font-family: Avenir;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 14px;
  position: relative;
  left: 93%;
}
.ca2A{
  position: relative;
  left: 55%;
}
.ca2B{
  position: relative;
  left: 8%;
  top: -1%;
}
.barra{
  position: relative;
  top: -25%;
}
div button:hover{
	text-decoration: underline;
	color: #FFBE00;
}
.img-estadisticas{
  width: 15%;
  position: relative;
  top: 15px;
  left: 17px;
}
.dato-abajo1{
  height: 61px;
  width: 149.5px;
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 45px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 61px;
  text-align: center;
  position: relative;
  top: -125px;
}
.simbolo{
   height: 26px;
  width: 16.9px;
  color: #FFFFFF;
  font-family: ".SF NS Display";
  font-size: 22px;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  left: -80px;
}


/* Para teléfono*/
@media (min-width: 768px) and (max-width: 991px){
	.texto{
	  height: 25px;
	  width: 51px;
	  color: #FFFFFF;
	  font-family: Avenir;
	  font-size: 60px;
	  font-weight: 900;
	  letter-spacing: 0;
	  line-height: 26px;
	  position: relative;
	  text-align: center;
	  top:150px;
    left: 75px;
	}
	.img{
		width: 40%;
		height: auto;
    position: relative;
    left: 175%;
    top: 100px;
	}
	.data{
		padding-top: 5%;
	}
	.na{
  height: 75px;
  width: 450px;
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 38px;
  font-weight: 900;
  line-height: 26px;
  }
  .create{
  padding-top: 140%;
  height: 75px;
  width: 200px;
  color: #FFBE00;
  font-family: Avenir;
  font-size: 40px;
  font-weight: 900;
  line-height: 21px;
  text-align: right;
  position: relative;
  left: 114%;
  }
  .princi{
  text-decoration: underline; 
  color: #FFBE00;
  font-family: Avenir;
  font-size: 38px;
  font-weight: 900;
  line-height: 26px;
  height: 75px;
  width: 425px;
  }
  .dic{
  padding-top: 5%;
  left:1%;
  }
  .ca{
    padding-top: 8%;
  }
  .ca2A{
    padding-top: 150%;
    position: relative;
    left: -10%;
  }
  .ca2AA{
    padding-top: 95%;
    position: relative;
    left: -10%;
  }
  .ca2B{
    top: 70px;
    position: relative;
    left: 460%;
  }
  .texto-simple{
  padding-top: 220%;
  height: 25px;
  width: 200px;
  color: #C1C7D0;
  font-family: Avenir;
  font-size: 38px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 19px;
  position: relative;
  right: -140%;
}
.upcoming-tasks {
  height: 30px;
  width: 400px;
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 38px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 26px;
  }
  .card-tipo{
  height: 280px;
  width: 485px;
  border-radius: 8px;
  background-color: #10161C;
  box-shadow: inset -2px -2px 4px 0 #040B11, inset 2px 2px 4px 0 #1C232A, 0 13px 9px 0 #000000;
  }
  .espacio-card{
    padding-left: 30%;
    position: relative;
    left: -10%;
  }
  .espacio-card2{
    position: relative;
    left: -2%;
  }
  
  .dato-barra{
  top: -18%;
  height: 35px;
  width: 150px;
  color: #C1C7D0;
  font-family: Avenir;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 14px;
  position: relative;
  left: 87%;
  }
  .titulo-card{
  padding-top: 5%;
  height: 60px;
  width: 400px;
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 26px;
  }
.remitente-card{
  height: 40px;
  width: 550px;
  color: #C1C7D0;
  font-family: Avenir;
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 16px;
  }
  .barra-progreso{
  height: 35px;
  width: 250px;
  color: #C1C7D0;
  font-family: Avenir;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 16px;
  }
  .foot{
  text-align: right;
  padding-right: 15px;
  position: relative;
  top: -20%;
  font-size: 32px;
  }
  .espacio-card3{
    padding-left: 20%;
    position: relative;
    left: -4%;
  }
  .espacio-card4{
    position: relative;
    left: -2%; 
  }
  .card-tipo2{
  height: 200px;
  width: 475px;
  border-radius: 8px;
  background-color: #10161C;
  box-shadow: inset -2px -2px 4px 0 #040B11, inset 2px 2px 4px 0 #1C232A, 0 13px 9px 0 #000000;
  }
  
  .boton-des{
  color: #ffffff;
  height: 35px;
  width: 115px;
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 34px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  left: 320%;
  top: 140px;
  visibility: hidden;
  }
  .mostrar{
    color: #ffffff;
  height: 65px;
  width: 115px;
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 34px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  left: 320%;
  top: 45px;
  visibility: visible;
  }
  .img-atras{
  color: #ffffff;
  font-size: 115px;
  position: relative;
  left: 0px;
  top:85px;
  }
  .statistics {
  height: 24px;
  width: 69px;
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 38px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 26px;
  }
  .numeros{
  height: 25px;
  width: 250px;
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  position: relative;
  top: -25px;
  left: 35px;
}
.complemento-num{
  height: 19px;
  width: 250px;
  color: #C1C7D0;
  font-family: Avenir;
  font-size: 38px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
  position: relative;
  top: 2px;
  left: 24%;
}
.espacio-numero{
  position: relative;
  left: 21%;
  top: 1%;
  }
  .img-estadisticas{
  width: 15%;
  position: relative;
  top: 50px;
  left: 25px;
  }
  .card-tipo3{
  height: 600px;
  width: 960px;
  border-radius: 8px;
  background-color: #10161C;
  box-shadow: inset -2px -2px 4px 0 #040B11, inset 2px 2px 4px 0 #1C232A, 0 13px 9px 0 #000000;
  position: relative;
  left: -25px;
  top: 10px;
  }
  .na2{
  height: 75px;
  width: 200px;
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 38px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 25px;
  }
  .princi2{
  text-decoration: underline;
  border: 25px;
  color: #FFBE00;
  font-family: Avenir;
  font-size: 38px;
  font-weight: 900;
  line-height: 26px;
  height: 75px;
  width: 200px; 
  }
.dic2{
  position: absolute;
  left: 5%;
  border-color: #000000 !important;
  padding-top: 3%;
  }
  .ct-horizontal {
        color: #89898A;
        font-family: Avenir;
        font-size: 30px;
        font-weight: 900;
        letter-spacing: 0;
        line-height: 22px;
        height: 19px;
        width: 10px;
    }
  .simbolo{
   height: 26px;
  width: 16.9px;
  color: #FFFFFF;
  font-family: ".SF NS Display";
  font-size: 30px;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  left: -100px;
  top: 12px;
  }
  .dato-abajo1{
  height: 61px;
  width: 200px;
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 61px;
  text-align: center;
  position: relative;
  top: -100px;
  }
}